[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd
